# Functions

In [4]:
def myFirstFunction ():    #definition of function
    print("hello world")

In [5]:
myFirstFunction ()      #calling of function

hello world

In [6]:
def mySecondtFunction ():    
    print("hello world")
    print("hello world")
    print("hello world")

In [7]:
mySecondtFunction ()

hello world
hello world
hello world

In [10]:
def myThirdfunction():
    x= 2+2
    print(x)

In [11]:
myThirdfunction()

4

In [12]:
def add (x,y):
    z=x*y
    print(z)

In [13]:
add (2,4)

8

In [39]:
def calc(x,y,z):
    if y=="+":
        print(x + z)
    elif y== "-":
        print(x-z)
    elif y== "*":
        print(x * z)
    elif y== "/":
        print(x / z)
    else:
        print("error")

In [35]:
calc (2 ,"+" ,4)

6

In [36]:
calc (7 ,"*" ,4)

28

In [37]:
calc (2 ,"-" ,4)

-2

In [41]:
calc (2 ,"j" ,4)

error

In [43]:
cities=["khi","lhr", "isb","psh"]

In [44]:
def city(x):
    for i in x:
        print(i)

In [45]:
city(cities)

khi
lhr
isb
psh

In [46]:
city('cities')

c
i
t
i
e
s

In [47]:
num1=[1,2,3,4,5,6,7,8,9,]

In [59]:
def evenFinder(x):
    for i in x:
        if i % 2 ==0 :
            print(i)

In [60]:
evenFinder(num1)

2
4
6
8

In [61]:
def dicount (x):
    z= x/100 * 20
    print(z)

In [62]:
dicount (100)

20.0

In [63]:
def add1(x,y):
    z=x+y
    return z

In [65]:
add1(2,3)

5

In [70]:
z= add1(4,6)
print (z)

10

In [71]:
z

10

In [72]:
def add1(x,y):
    z=x+y
    return z
    print(z)

In [95]:
 def dicount (x):
            if x > 100:
                z= x/100 * 2
                u = x-z
                return u
            elif x== 100:
                z= x+5
                return z
        
            else:
                return x

In [93]:
dicount (108)

105.84

In [96]:
dicount (99)

99

In [114]:
def full_name(fname, lname):
    print(f'My name is {fname} {lname}')

In [115]:
full_name('ali', 'saeed')

My name is ali saeed

In [116]:
def name (fname, Mname, lname):
    print(f'My name is {fname}{Mname} {lname}')

In [117]:
name ("ali","saeed")

TypeError: name() missing 1 required positional argument: 'lname'

In [119]:
def name1 (fname, lname, Mname=""):  #default argument
    print(f'My name is {fname}{Mname} {lname}')

name1("ali","saeed")

In [120]:
name1("ali", "saeed")

My name is ali saeed

In [121]:
name1("haiz", "ali","seed")

My name is haizseed ali

In [122]:
#returning dictionary
def dict():
    new_dict ={1:"khi",2:"lhr",3:"quet"}
    return new_dict

In [123]:
a= dict()
print(a[3])

quet

In [139]:

def abc(x,y):
    for i in x:
        y.append(i)
    return y

In [140]:
list1=[1,2,3,4,5]
list2=[]
abc(list1,list2)

[1, 2, 3, 4, 5]